/*Fonts*/
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("wooff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
}
/*End Fonts*/

:root {
  --basic-black: #000000;
  --basic-dark-grey: #363636;
  --basic-medium-grey: #464646;
  --basic-grey: #7e7e7e;
  --basic-light-grey: #e5e5e5;
  --basic-white: #ffffff;

  --additional-yellow: #f0c52e;
  --additional-light-yellow: #f7e296;
  --additional-green: #91c92f;
  --additional-dark-grey: #d9d9d9;
  --aditional-grey: #dcdcdc;
  --aditional-light-grey: #eeeeee;

  --status-pink: #f6dada;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  color: var(--basic-black);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*Класс для скрытие элементов*/
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/*Header style*/
.header {
  background: var(--additional-light-yellow);
}

.header__logo a:hover {
  opacity: 0.6;
}

.header__logo a:focus {
  opacity: 0.3;
}

.header-row__search input {
  border: none;
  background: var(--additional-light-yellow);
}

.header-row__search input::placeholder {
  color: var(--basic-black);
  opacity: 0.3;
}

.header-row__search input:hover::placeholder {
  opacity: 0.6;
}

.header-row__panel,
.header-navigation__list {
  list-style: none;
  margin: 0;
}

.header-row__panel a {
  color: var(--basic-black);
}

.header-row__panel a:hover,
.header-navigation__list a:hover,
.header-navigation__menu a:hover {
  opacity: 0.6;
}

.header-row__panel a:focus,
.header-navigation__list a:focus,
.header-navigation__menu a:focus {
  opacity: 0.3;
}

.user-panel__item.user-panel__item--logout {
  opacity: 0.3;
}

.header-navigation__list a {
  color: var(--basic-black);
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.header-navigation__menu a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: inherit;
}

/*main styles*/

/*slider*/
.slider__number {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 179px;
  line-height: 219px;
  color: var(--basic-white);
  background: var(--additional-light-yellow);
}

.slider__logo {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

.slider__more span{
  position: relative;
  padding: 10px 35px;
}

.slider__more {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  color: inherit;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  position: relative;
}

.slider__more::before {
  content: "";
  display: block;
  height: 8px;
  background: var(--additional-yellow);
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.slider__more:hover::before {
  height: 100%;
  transition: height 0.5s;
}

.slider__more:focus span{
  opacity: 0.3;
}

.slider-table__row th {
  font-family: "Gilroy, " Arial ", sans-serif";
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
}

.slider-table__row td {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
}

.slider__nav {
  display: flex;
  list-style: none;
}

.slider-nav__item a {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 8px;
  border: 1px var(--basic-black) solid;
}

.main__popular {
  list-style: none;
  display: flex;
}

.popular-item__title {
  color: var(--basic-black);
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
}

.popular-item__pic {
  background: var(--additional-light-yellow);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-popular__item:hover .popular-item__pic {
  background: var(--additional-yellow);
}

.main-popular__item a:focus .popular-item__pic img {
  opacity: 0.3;
}

.main-popular__item a:focus .popular-item__title {
  opacity: 0.3;
}

.main__services.services {
  background: var(--basic-light-grey);
}

.services__menu.services-menu {
  list-style: none;
}

.services-menu__item {
  width: max-content;
}
.services-menu__item span {
  position: relative;
  padding: 10px 35px;
}

.services-menu__item a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: inherit;
  position: relative;
}

.services-menu__item a::before {
  content: "";
  display: block;
  height: 8px;
  background: var(--additional-yellow);
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.services-menu__item a:hover::before {
  height: 100%;
  transition: height 0.5s;
}

.services-item__title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.services-item__text {
  line-height: 28px;
  letter-spacing: 0.1em;
}

.main__partners {
  display: flex;
  list-style: none;
}

.partners__logo {
  filter: grayscale(100%);
  opacity: 0.3;
}

.partners__logo:hover {
  filter: none;
  opacity: 1;
}

/*information*/
.info-about__title,
.info-contact__title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.info-about__text,
.info-contact__text {
  line-height: 28px;
}

.info-about__list {
  list-style: none;
}

.info-about__item {
  position: relative;
  padding-left: 40px;
}

.info-about__item::before {
  position: absolute;
  content: "";
  display: block;
  left: 0;
  width: 8px;
  height: 8px;
  border-radius: 6px;
  border: 2px var(--basic-light-grey) solid;
  transform: translateY(50%);
}

.info-about__item {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
}

.info-about__more span {
  position: relative;
  padding: 10px 20px;
}

.info-contact__letter span {
  position: relative;
  padding: 10px 40px;
}

.info-about__more,
.info-contact__letter {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: inherit;
  position: relative;
}

.info-about__more::before,
.info-contact__letter::before {
  content: "";
  display: block;
  height: 8px;
  background: var(--additional-yellow);
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.info-about__more:hover::before,
.info-contact__letter:hover::before {
  height: 100%;
  transition: height 0.5s;
}

.info-about__more:focus span,
.info-contact__letter:focus span {
  opacity: 0.3;
}

/*Catalogue styles*/
.catalog-header__title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

.catalog-header__breadcrumbs.breadcrumbs {
  list-style: none;
}



.breadcrumbs__item a {
  color: inherit;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  opacity: 0.3;
}

.breadcrumbs__item--next a:hover {
  opacity: 0.6;
}

.breadcrumbs__item--next a:focus {
  opacity: 0.1;
}

.breadcrumbs__item:nth-child(n+2)::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 6px;
  height: 6px;
  color: var(--basic-black);
  border-top: 1px solid var(--basic-black);
  border-left: 1px solid var(--basic-black);
  transform: rotate(135deg);
}

.filters__title {
  background: var(--aditional-grey);
}

.filters__title h2 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.catalog__options {
  background: var(--basic-light-grey);
}

.catalog-options__title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.catalog-options__list {
  list-style: none;
}

.catalog-options__rows {
  display: flex;
}

.catalog-options__rows a:hover {
  opacity: 0.4;
}

.catalog-options__rows a:focus {
  opacity: 1;
}

.catalog-options__row--up {
  display: block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 11px solid var(--basic-black);
  opacity: 0.2;
}

.catalog-options__row--down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 11px solid var(--basic-black);
}

.catalog-options__item a {
  color: inherit;
  font-size: 14px;
  line-height: 19px;
  opacity: 0.3;
}

.catalog-options__item a {
  opacity: 1;
}

.catalog-options__item.catalog-options__item--noactive a {
  opacity: 0.3;
}

.catalog-options__item--noactive a:hover {
  opacity: 0.6;
}

.catalog-options__item--noactive a:focus {
  opacity: 1;
}

.catalog__list {
  list-style: none;
}

.catalog-item__title a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: inherit;
}

.catalog-item__price {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
}

.catalog__pagination {
  background: var(--basic-light-grey);
}

.pagination__list {
  list-style: none;
}

.pagination__item a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: inherit;
}

.pagination__item.pagination__item--noactive a {
  opacity: 0.3;
}

.pagination__item.pagination__item--noactive a:hover {
  opacity: 0.6;
}

.pagination__item.pagination__item--noactive a:focus {
  opacity: 1;
}

.pagination__item--next:hover {
  background: var(--additional-dark-grey);
}

.pagination__item--next a:focus {
  opacity: 0.3;
}

.catalog-item__menu {
  background: var(--aditional-light-grey);
  opacity: 0.7; /*TODO прозрачная вся плашка. в том числе и кнопки - надо исправить*/
}

.item-menu__adding span {
  position: relative;
  padding: 10px 35px;
}

.item-menu__adding {
  color: inherit;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  position: relative;
}

.item-menu__adding::before {
  content: "";
  display: block;
  height: 8px;
  width: 100%;
  position: absolute;
  background: var(--additional-yellow);
  top: 50%;
  transform: translateY(-50%);
}

.item-menu__adding:hover::before {
  height: 100%;
  transition: height 0.5s;
}

.item-menu__adding:focus span {
  opacity: 0.3;
}

.item-menu__compare {
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  color: inherit;
}

.item-menu__compare:hover {
  opacity: 0.6;
}

.item-menu__compare:focus {
  opacity: 0.3;
}

/*footer styles*/
.footer {
  background: var(--basic-dark-grey);
}

.footer__logo a:hover {
  opacity: 0.6;
}

.footer__logo a:focus {
  opacity: 0.3;
}

.footer__panel {
  list-style: none;
}

.footer-panel__item a {
  color: var(--basic-white);
  opacity: 0.7;
}

/**TODO тут у итемов у текста и иконок разные opacity. сейчас сделаны одинаковые*/

.footer-panel__item a:hover {
  opacity: 1;
}

.footer-panel__item a:focus {
  opacity: 0.3;
}

.footer__address {
  color: var(--basic-white);
  font-style: normal;
}

.footer__socials {
  display: flex;
  list-style: none;
}

.footer-socials__item a {
  opacity: 0.6;
}

.footer-socials__item a:hover {
  opacity: 1;
}

.footer-socials__item a:focus {
  opacity: 0.3;
}

.footer-navigation__list {
  list-style: none;
}

.footer-navigation__item a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-white);
}

.footer-navigation__item a:hover {
  opacity: 0.6;
}

.footer-navigation__item a:focus {
  opacity: 0.3;
}

.footer__tel {
  color: var(--basic-white);
}

.footer__academy:hover {
  opacity: 0.6;
}

.footer__academy:focus {
  opacity: 0.3;
}
