/*Fonts*/
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("wooff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
}
/*End Fonts*/

:root {
  --basic-black: #000000;
  --basic-dark-grey: #363636;
  --basic-medium-grey: #464646;
  --basic-grey: #7e7e7e;
  --basic-light-grey: #e5e5e5;
  --basic-white: #ffffff;

  --additional-opacity-white: rgba(255, 255, 255, 0.3);

  --additional-yellow: #f0c52e;
  --additional-light-yellow: #f7e296;
  --additional-green: #91c92f;
  --additional-dark-grey: #d9d9d9;
  --aditional-grey: #dcdcdc;
  --aditional-light-grey: #eeeeee;
  --special-light-grey: rgba(238, 238, 238, 0.7);
  --aditional-modal-grey: #f2f2f2;
  --aditional-button-black: rgba(0, 0, 0, 0.3);
  --special-bar-color: rgba(0, 0, 0, 0.2);
  --special-from-color: #eaeaea;

  --status-pink: #f6dada;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  color: var(--basic-black);
}

.page__body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*Класс для скрытие элементов*/
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/*Header style*/
.container--yellow {
  background: linear-gradient(
    to bottom,
    var(--basic-white) 10%,
    var(--additional-light-yellow) 10%,
    var(--additional-light-yellow) 70%
  );
}

.header {
  margin-top: 19px;
}

.header .container {
  width: 1160px;
  padding: 0 60px;
}

.header__logo {
  margin-bottom: 26px;
}

.header__logo a:hover {
  opacity: 0.6;
}

.header__logo a:active {
  opacity: 0.3;
}

.header__row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 36px;
}

.header__search {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header__search svg {
  position: absolute;
  left: 0;
  top: 2px;
}

.search__input {
  border: none;
  padding-left: 38px;
  padding-bottom: 14px;
  width: 356px;
  outline: none;
  border-bottom: 2px solid transparent;
  background-color: transparent;
}

.search__input:focus {
  border-bottom: 2px solid var(--basic-black);
}

.search__input:focus ~ .search__button {
  pointer-events: auto;
  display: block;
}

.search__input::placeholder {
  color: var(--basic-black);
  opacity: 0.3;
}

.search__input:hover::placeholder {
  opacity: 0.6;
}

.search__button {
  outline: none;
  margin: 0;
  border: 2px solid var(--basic-black);
  padding: 15px;
  text-transform: uppercase;
  background: inherit;
  display: none;
  pointer-events: none;
  position: absolute;
  top: -17px;
  right: -83px;
}

.search__button:hover {
  background: var(--basic-black);
  display: block;
  color: var(--basic-white);
}

.search__button:active {
  color: var(--additional-opacity-white);
}

.header-navigation {
  padding-bottom: 50px;
}

.header-navigation__submenu {
  position: absolute;
  top: 20px;
  left: -60px;
  display: flex;
  width: 1100px;
  display: none;
  z-index: 10;
  background-color: var(--additional-light-yellow);
}

.submenu:hover {
  display: flex;
}

.header-navigation__submenu ul {
  list-style: none;
  padding: 32px 0 0;
  margin: 0 63px 42px 0;
}

.submenu__item:not(:last-child) {
  margin-bottom: 16px;
}

.submenu__link {
  text-decoration: none;
  color: var(--basic-black);
}

.header-navigation__submenu a:hover {
  opacity: 0.6;
}

.header-navigation__submenu a:active {
  opacity: 0.3;
}

.header__row--mainpage {
  padding-bottom: 36px;
}

.header__panel,
.header-navigation__list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.header__panel a {
  color: var(--basic-black);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__panel svg {
  margin-right: 14px;
}

.header-navigation__menu {
  position: relative;
}

.header-navigation__menu svg {
  margin-left: 13px;
}

.header-navigation__item:nth-child(2) {
  margin-left: 37px;
  margin-right: 103px;
}

.header__panel a:hover,
.header-navigation__list a:hover {
  opacity: 0.6;
}

.header-navigation__link:hover {
  opacity: 0.6;
}

.navigation-contact:hover ~ .submenu {
  display: flex;
}

.header__panel a:active,
.header-navigation__list a:active,
.header-navigation__menu a:active {
  opacity: 0.3;
}

.user-panel__item:nth-child(2) {
  margin-right: 40px;
  margin-left: 60px;
}

.user-panel__item--active {
  display: flex;
  padding-bottom: 14px;
}

.user-panel__item--active .user-panel__link:last-child {
  opacity: 0.3;
  margin-left: 21px;
}

.user-panel__item--login {
  min-width: 404px;
  padding-left: 30px;
}

.header-navigation__list a {
  color: var(--basic-black);
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.header-navigation__link {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 19px;
  line-height: 22px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: inherit;
  display: flex;
}

/*main styles*/

/*slider*/

.main__slider {
  margin-bottom: 113px;
  position: relative;
}

.main__slider::before {
  content: "";
  position: absolute;
  display: block;
  width: 100px;
  height: 8px;
  background: var(--basic-white);
  right: 40%;
  top: 33px;
  transform: translateX(4px);
  z-index: 5;
}

.slider__number {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 179px;
  line-height: 219px;
  color: var(--basic-white);
  background: transparent;
  position: absolute;
  right: 48px;
  top: -18px;
  z-index: 0;
}

.slider__wrapper {
  padding: 0 60px 0 30px;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(
    to bottom,
    var(--additional-light-yellow) 26%,
    var(--basic-white) 26%,
    var(--basic-white) 70%
  );
}

.slider__item {
  position: relative;
  display: none;
}

.slider__item--active {
  display: block;
}

.slider__panel {
  width: 500px;
  padding-right: 28px;
  z-index: 4;
}

.slider__controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 47px;
}

.section-base {
  margin-bottom: 153px;
}

.slider__pic {
  width: 526px;
  height: 486px;
  display: flex;
  justify-content: center;
}

.slider__pic--stick {
  padding-right: 22px;
}

.slider__logo {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  padding-top: 92px;
  margin: 0 0 26px 0;
}

.slider__text {
  margin: 0 0 52px 0;
}

.slider__more {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  color: inherit;
  letter-spacing: 3.1px;
  text-transform: uppercase;
  padding: 10px 45px;
  background: linear-gradient(
    to bottom,
    var(--basic-white) 17px,
    var(--additional-yellow) 17px,
    var(--additional-yellow) 24px,
    var(--basic-white) 24px
  );
}

.slider__more:hover {
  background: var(--additional-yellow);
}

.slider__more:active {
  color: var(--aditional-button-black);
}

.slider-table__row th {
  font-family: "Gilroy", "Arial ", sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-align: left;
  padding-top: 14px;
}

.slider-table__row td {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
  text-align: left;
}

.slider-table__row th:not(:last-child),
.slider-table__row td:not(:last-child) {
  padding-right: 57px;
}

.slider__nav {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  z-index: 10;
  bottom: 29%;
  transform: translate(-1px, 2px);
  right: 88px;
}

.slider-nav__item:not(:last-child) {
  margin-right: 17px;
}

.slider-nav__item a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12px;
  height: 12px;
  border-radius: 8px;
  border: 1px var(--basic-black) solid;
  position: relative;
}

.slider-nav__item--active::before {
  content: "";
  transform: translate(50%, 50%);
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 8px;
  border: 1px var(--basic-black) solid;
}

.main__popular {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 40px;
  margin: 0;
  padding: 0;
}

.popular-item__title {
  color: var(--basic-black);
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}

.popular-item__pic {
  background: var(--additional-light-yellow);
  width: 160px;
  height: 160px;
  display: flex;
  margin-bottom: 38px;
  justify-content: center;
  align-items: center;
}

.main-popular__item:hover .popular-item__pic {
  background: var(--additional-yellow);
}

.popular-item__link {
  display: block;
}

.popular-item__link:active img {
  opacity: 0.3;
}

.popular-item__link:active .popular-item__title {
  opacity: 0.3;
}

.services {
  background: linear-gradient(
    to bottom,
    var(--basic-white) 10%,
    var(--basic-light-grey) 10%,
    var(--basic-light-grey) 70%
  );
}

.services__wrapper {
  display: flex;
  padding-bottom: 123px;
}

.services__item {
  display: none;
}

.services__item--active {
  display: flex;
}



.services-item__info {
  position: relative;
  padding-top: 3px;
}

.services-item__info--delivery::before
 {
  content: "";
  width: 136px;
  height: 164px;
  position: absolute;
  display: block;
  background: url(/img/delivery.png) no-repeat;
  background-size: 136px 164px;
  right: -51px;
  transform: translateX(100%);
}

.services-item__info--warranty::before {
  content: "";
  width: 171px;
  height: 195px;
  position: absolute;
  display: block;
  background: url(/img/warranty.png) no-repeat;
  background-size: 171px 195px;
  right: -51px;
  transform: translateX(100%);
}

.services-item__info--credit::before {
  content: "";
  width: 156px;
  height: 188px;
  position: absolute;
  display: block;
  background: url(/img/credit.png) no-repeat;
  background-size: 156px 188px;
  right: -51px;
  transform: translateX(100%);
}

.services__menu {
  list-style: none;
  margin: 0;
  padding: 12px 115px 0 0;
  position: relative;
  margin-right: 8px;
}

.services__menu::after {
  display: block;
  content: "";
  position: absolute;
  height: 322px;
  width: 7px;
  transform: translate(0,-82%);
  right: 108px;
  background: var(--basic-black);
}

.services-menu__item {
  margin-bottom: 21px;
  width: 277px;
}

.services-menu__item a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: inherit;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 10px 0 9px 0;
  width: 160px;
  position: relative;
  background: linear-gradient(
    to bottom,
    transparent 16px,
    var(--additional-yellow) 16px,
    var(--additional-yellow) 24px,
    transparent 24px
  );
}

.services-menu__item a:hover {
  background: var(--additional-yellow);
}

.services-menu__item a:active {
  color: var(--additional-light-yellow);
  background: var(--basic-black);
}

.services-menu__item a:active::after {
  content: "";
  display: block;
  position: absolute;
  width: 118px;
  height: 41px;
  background: var(--basic-black);
  right: -1px;
  top: 0;
  transform: translateX(99%);
}

.services-menu__item--active {
  background-color: var(--basic-black);
}

.services-menu__item--active a {
  background: inherit;
  color: var(--additional-light-yellow);
}

.services-menu__item--active a:hover {
  background-color: var(--basic-black);
}

.services-menu__item--active a:active {
  color: var(--additional-light-yellow);
}

.services-item__title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  display: block;
  margin-bottom: 41px;
}

.services-item__text {
  line-height: 30px;
  letter-spacing: 0.1em;
  margin: 0;
  display: block;
  width: 535px;
}

.services-item__info--warranty .services-item__text {
  width: 571px;
}

.partners {
  margin: 90px 0;
}

.main__partners {
  display: grid;
  list-style: none;
  padding: 0;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 40px;
}

.partners__logo {
  filter: grayscale(100%);
  opacity: 0.3;
}

.partners__logo:hover {
  filter: none;
  opacity: 1;
}

/*information*/
.info {
  margin-bottom: 76px;
}

.info__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  padding-top: 53px
}

.info-about,
.info-contact {
  position: relative;
}

.info-about::before,
.info-contact::before {
  position: absolute;
  display: block;
  content: "";
  top: -57px;
  width: 80px;
  height: 7px;
  background: var(--basic-black);
}

.info-about__title,
.info-contact__title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  margin: 0 0 41px 0;
}

.info-about__text,
.info-contact__text {
  line-height: 28px;
  margin: 0 0 40px 0;
}

.info-about__text--last {
  margin-bottom: 60px;
}

.info-about__list {
  list-style: none;
  padding: 0;
  margin: 0 0 69px 0;
}

.info-about__item::before {
  position: absolute;
  content: "";
  display: block;
  left: 0;
  width: 8px;
  height: 8px;
  border-radius: 6px;
  border: 2px var(--basic-light-grey) solid;
  transform: translateY(100%);
  top: 3px;
}

.info-about__item {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
  position: relative;
  padding-left: 32px;
}

.info-about__item:not(:last-child) {
  margin-bottom: 14px;
}

.info-contact__map {
  margin-bottom: 75px;
  display: block;
  text-decoration: none;
  line-height: 0;
}

.info-about__more,
.info-contact__letter {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: inherit;
  position: relative;
  padding: 10px;
  display: flex;
  justify-content: center;
  width: 260px;
  background: linear-gradient(
    to bottom,
    var(--basic-white) 16px,
    var(--additional-yellow) 16px,
    var(--additional-yellow) 24px,
    var(--basic-white) 24px
  );
}

.info-about__more:hover,
.info-contact__letter:hover {
  background: var(--additional-yellow);
}

.info-about__more:active,
.info-contact__letter:active {
  color: var(--aditional-button-black);
}

/*Catalogue styles*/

.main__catalog {
  background: linear-gradient(
    to right,
    var(--basic-light-grey) 50%,
    var(--basic-light-grey) 50%,
    var(--basic-white) 50%
  );
}

.catalog__wrapper {
  display: flex;
}

.catalog__panel {
  background: var(--basic-white);
  padding-bottom: 79px;
}

.catalog__filters {
  padding-top: 86px;
}

.filters-header {
  background: linear-gradient(
    to right,
    var(--additional-dark-grey) 50%,
    var(--additional-dark-grey) 50%,
    var(--basic-light-grey) 50%
  );
}

.filters-header__wrapper {
  display: flex;
}

.catalog-header {
  margin-bottom: 50px;
}

.catalog-header .container {
  padding-left: 60px;
  padding-top: 44px;
}

.catalog-header__title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  margin: 0;
}

.catalog-header__breadcrumbs {
  list-style: none;
  display: flex;
  margin: 29px 0 0;
  padding: 0;
}

.breadcrumbs__item {
  position: relative;
}

.breadcrumbs__item a {
  color: inherit;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  opacity: 0.3;
}

.breadcrumbs__item:not(:last-child) {
  margin-right: 18px;
}

.breadcrumbs__item:not(:last-child) a {
  margin-right: 22px;
}

.breadcrumbs__item:not(:last-child) a:hover {
  opacity: 0.6;
}

.breadcrumbs__item:not(:last-child) a:active {
  opacity: 0.1;
}

.breadcrumbs__item:not(:last-child) a::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  width: 4px;
  height: 4px;
  color: var(--basic-black);
  top: 50%;
  border-top: 1px solid var(--basic-black);
  border-left: 1px solid var(--basic-black);
  transform: rotate(135deg) translateY(25%);
}

.breadcrumbs__item a:active::after {
  opacity: 1; /*TODO как скомбинировать active и after так, чтобы стрелка при ховере на ссылку не выделялась????*/
}

.breadcrumbs__item a:hover::after {
  opacity: 1; /*TODO как скомбинировать ховер и after так, чтобы стрелка при ховере на ссылку не выделялась????*/
}

.filters-header .container {
  padding-left: 60px;
}

.filters-header__title {
  background: var(--aditional-grey);
  display: flex;
  align-items: center;
  min-width: 270px; /*TODO Поясни почему мне нужно тут ставить min.
  я не понимаю, почему просто width:270 не работает(ширина меньше 270 будет)*/
}

.filters-header__title h2 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 0;
}

.filters__form {
  width: 270px;
}

.filters__form fieldset {
  padding: 0;
  margin: 0;
  border: none;
  position: relative;
}

.filters__form fieldset::before {
  position: absolute;
  content: "";
  display: block;
  height: 2px;
  width: 200px;
  background: var(--basic-black);
  top: -16px;
}

fieldset.filters__price {
  margin-bottom: 53px;
}

fieldset.filters__colors {
  margin-bottom: 54px;
}

fieldset.filters__bluetooth {
  margin-bottom: 44px;
}

.filters__form legend {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
}

.filter-price__title {
  margin-bottom: 39px;
}

.filter-colors__title {
  margin-bottom: 32px;
}

.filter-price__range {
  position: relative;
  margin-bottom: 14px;
  width: 200px;
}

.range__scale {
  height: 2px;
  background-color: var(--special-bar-color);
}

.range__bar {
  height: 2px;
  width: 120px;
  background-color: var(--additional-green);
}

.range__toggle {
  box-sizing: content-box;
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  background-color: #c4c4c4;
  cursor: pointer;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.18);
}

.range__toggle--min {
  left: 0px;
}

.range__toggle--max {
  left: 114px;
}

.price__control {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
}

.price__control input[type="text"] {
  font-family: "Gilroy", "Arial", sans-serif;
  width: 40px;
  outline: none;
  height: 20px;
  font-size: 14px;
  line-height: 16px;
  color: black;
  background-color: inherit;
  border: none;
}

.price__control--max {
  margin-left: 35px;
}

.filters__form ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.filters__form li {
  line-height: 19px;
  font-size: 14px;
}

.filter-colors__item {
  padding-left: 42px;
}

.filter-bluetooth__item {
  padding-left: 40px;
}

.filter-colors__item:not(:last-child),
.filter-bluetooth__item:not(:last-child) {
  margin-bottom: 20px;
}

.filter-colors__item label {
  position: relative;
  cursor: pointer;
  user-select: none;
}

.filters-colors__checkbox + .filters-colors__tick {
  position: absolute;
  top: 4px;
  left: -42px;
  transform: translateY(-25%);
  height: 23px;
  width: 24px;
  border: 2px solid var(--basic-black);
  border-radius: 2px;
  background-color: inherit;
}

.filters-colors__checkbox:checked + .filters-colors__tick::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 3px;
  height: 2px;
  width: 5px;
  transform: rotate(45deg);
  background-color: var(--basic-black);
}

.filters-colors__checkbox:checked + .filters-colors__tick::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 5px;
  height: 2px;
  width: 11px;
  transform: rotate(-45deg);
  background-color: var(--basic-black);
}

.filters-colors__checkbox + .filters-colors__tick:hover,
.filters-colors__checkbox + .filters-colors__tick:hover {
  opacity: 0.6;
}

.filters-colors__checkbox + .filters-colors__tick:active,
.filters-colors__checkbox + .filters-colors__tick:checked:active {
  opacity: 1;
}

.filter-bluetooth__title {
  margin-bottom: 33px;
}

.filter-bluetooth__item label {
  position: relative;
  cursor: pointer;
  user-select: none;
}

.filter-bluetooth__radio + label::before {
  content: "";
  position: absolute;
  left: -40px;
  top: -1px;
  width: 24px;
  height: 24px;
  border: 2px solid var(--basic-black);
  border-radius: 50%;
}

.filter-bluetooth__radio:checked + label::after {
  content: "";
  position: absolute;
  top: 7px;
  left: -32px;
  width: 8px;
  height: 8px;
  background-color: var(--basic-black);
  border-radius: 50%;
}

.filter-bluetooth__radio:hover + label:hover {
  opacity: 0.6;
}

.filter-bluetooth__radio:active + label:active {
  opacity: 1;
}

.filter-bluetooth__radio:checked:active + label:active {
  opacity: 1;
}

.filter-bluetooth__radio:checked:hover + label:hover {
  opacity: 1;
}

.filters__button {
  color: inherit;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  position: relative;
  border: none;
  background: inherit;
  padding: 0;
  outline: none;
  padding: 10px 43px 10px 38px;
  background: linear-gradient(
    to bottom,
    var(--basic-light-grey) 19px,
    var(--additional-yellow) 19px,
    var(--additional-yellow) 25px,
    var(--basic-light-grey) 25px
  );
}

.filters__button:hover {
  background: var(--additional-yellow);
}

.filters__button:active {
  color: var(--aditional-button-black);
}

.filters-header__options {
  background: var(--basic-light-grey);
  display: flex;
  width: 100%;
  padding: 25px 0 25px 70px;
}

.catalog .container {
  padding-left: 60px;
}

.catalog-options__title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 0;
}

.catalog-options__list {
  list-style: none;
  display: flex;
  margin: 0;
  margin-left: 73px;
  padding: 0;
}

.catalog-options__rows {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
  flex-grow: 1;
}

.catalog-options__rows a:hover {
  opacity: 0.4;
}

.catalog-options__rows a:active {
  opacity: 1;
}

.catalog-options__arrow {
  display: block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  opacity: 0.2;
}

.catalog-options__arrow--up {
  border-bottom: 11px solid var(--basic-black);
  margin-right: 24px;
}

.catalog-options__arrow--down {
  border-top: 11px solid var(--basic-black);
  margin-right: 4px;
}

.catalog-options__item:not(:last-child) {
  margin-right: 32px;
}

.catalog-options__arrow--active {
  opacity: 1;
}

.catalog-options__item a {
  color: inherit;
  font-size: 14px;
  line-height: 19px;
  opacity: 0.3;
}

.catalog-options__item a:hover {
  opacity: 0.6;
}

.catalog-options__item a:active {
  opacity: 1;
}

.catalog-options__item--active a {
  opacity: 1;
}

.catalog-options__item--active a:hover {
  opacity: 1;
}

.catalog__list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 50px;
  margin: 0;
  padding: 70px 0 0 70px;
}

.catalog-item__stuff {
  position: relative;
  margin-bottom: 30px;
  line-height: 0;
}

.catalog-item__menu {
  background: var(--special-light-grey);
  padding-top: 30px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.catalog-item__stuff:hover .catalog-item__menu {
  /*opacity: 0.7;*/
  display: flex;
  transition: opacity 0.5s;
}

.catalog-item__info {
  display: flex;
  justify-content: space-between;
}

.catalog-item__title {
  margin: 0;
}

.catalog-item__new {
  position: absolute;
  top: 28px;
  right: 27px;
}

.catalog-item__title a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: inherit;
}

.catalog-item__price {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1.3px;
  margin: 0 0 0 13px;
}

.catalog__pagination {
  background: var(--basic-light-grey);
  margin-left: 70px;
  margin-top: 39px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pagination__list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 20px 21px 23px 29px;
}

.pagination__item a,
.pagination__button {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: inherit;
}

.pagination__button {
  /*TODO я тут вместо padding top/bottom хотел указать height 100%, чтобы расширить элемент. но это не работает, почему? */
  display: block;
  height: 100%;
  padding: 24px 29px;
}

.pagination__button--next:hover {
  background: var(--additional-dark-grey);
}

.pagination__button--next:active {
  color: var(--aditional-button-black);
}

.pagination__item:not(:last-child) {
  margin-right: 28px;
}

.pagination__item a {
  opacity: 0.3;
}

.pagination__item a:hover {
  opacity: 0.6;
}

.pagination__item a:active {
  opacity: 1;
}

.pagination__item--current a {
  opacity: 1;
}

.pagination__item--current a:hover {
  opacity: 1;
}

.pagination__item:first-child a {
  opacity: 1;
}

.pagination__item:last-child:hover {
  background: var(--additional-dark-grey);
}

.pagination__item:last-child a:active {
  opacity: 0.3;
}

.item-menu__adding {
  color: inherit;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 4px;
  text-transform: uppercase;
  display: block;
  margin-bottom: 12px;
  padding: 10px 36px 10px 34px;
  background: linear-gradient(
    to bottom,
    transparent 19px,
    var(--additional-yellow) 19px,
    var(--additional-yellow) 25px,
    transparent 25px
  );
}

.item-menu__adding:hover {
  background: var(--additional-yellow);
}

.item-menu__adding:active {
  color: var(--aditional-button-black);
}

.item-menu__compare {
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 1.5px;
  color: inherit;
}

.item-menu__compare:hover {
  opacity: 0.6;
}

.item-menu__compare:active {
  opacity: 0.3;
}

/*footer styles*/
.footer {
  padding-top: 46px;
  padding-bottom: 60px;
  background: var(--basic-dark-grey);
}

.footer__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__row:nth-child(2) {
  margin-top: 35px;
  margin-bottom: 66px;
}

.footer__row:last-child {
  justify-content: flex-end;
}

.footer__logo {
  padding-top: 17px;
  display: block;
}

.footer__logo a:hover {
  opacity: 0.6;
}

.footer__logo a:active {
  opacity: 0.3;
}

.footer__panel {
  list-style: none;
  display: flex;
  padding: 0 0 37px;
  margin: 0;
}

.footer-panel__item:first-child {
  min-width: 84px;
}

.footer-panel__item:nth-last-child(2) {
  margin-right: 41px;
  margin-left: 38px;
}

.footer-panel__item:nth-child(2) {
  margin-left: 24px;
}

.footer-panel__item a {
  color: var(--basic-white);
  opacity: 0.7;
  display: flex;
  align-items: center;
}

.footer-panel__item a:hover {
  opacity: 1;
}

.footer-panel__item a:active {
  opacity: 0.3;
}

.footer-panel__item svg {
  margin-right: 13px;
}

.footer__address {
  color: var(--basic-white);
  font-style: normal;
  display: flex;
  align-items: center;
}

.footer__socials {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
}

.footer-socials__item:first-child {
  margin-left: 26px;
}

.footer-socials__item:not(:last-child) {
  margin-right: 20px;
}

.footer__socials::before {
  content: "";
  display: block;
  height: 7px;
  width: 80px;
  position: absolute;
  background-color: var(--additional-yellow);
  left: 0;
  top: 12px;
}

.footer-socials__item a {
  opacity: 0.6;
}

.footer-socials__item a:hover {
  opacity: 1;
}

.footer-socials__item a:active {
  opacity: 0.3;
}

.footer-navigation__list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0 40px 0 0;
}

.footer-navigation__item:nth-child(2) {
  margin-left: 36px;
  margin-right: 29px;
}

.footer-navigation__item a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-white);
}

.footer-navigation__item a:hover {
  opacity: 0.6;
}

.footer-navigation__item a:active {
  opacity: 0.3;
}

.footer__tel {
  color: var(--basic-white);
  display: flex;
}

.footer__tel a {
  color: var(--basic-white);
  display: flex;
  align-items: center;
  padding-left: 7px;
}

.footer__academy {
  margin-right: 0;
}

.footer__academy:hover {
  opacity: 0.6;
}

.footer__academy:active {
  opacity: 0.3;
}

/*Modals*/

.modal-contact {
  display: flex;
  justify-content: center;
}

.modal-contact__form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.modal-contact__form label {
  color: var(--basic-black);
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 10px;
}

.contact-form__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}
.contact-form__name,
.contact-form__email,
.contact-form__inform {
  display: flex;
  flex-direction: column;
}

.contact-form__inform {
  margin-bottom: 43px;
}

.modal-contact__form input,
.modal-contact__form textarea {
  outline: none;
  border: none;
  background: var(--aditional-modal-grey);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  border: 2px solid transparent;
}

.modal-contact__form input {
  width: 360px;
  padding: 14px 20px;
}

.modal-contact__form textarea {
  resize: none;
  width: 760px;
  padding: 14px 20px 20px 20px;
}

.contact-form__button {
  color: inherit;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  width: 200px;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  border: none;
  outline: none;
  padding: 10px 0;
  background: linear-gradient(
    to bottom,
    var(--basic-white) 18px,
    var(--additional-yellow) 18px,
    var(--additional-yellow) 25px,
    var(--basic-white) 25px
  );
}

.contact-form__button:hover {
  background: var(--additional-yellow);
}

.contact-form__button:active span {
  color: var(--aditional-button-black);
}

.modal__map {
  position: fixed;
  display: none;
  width: 960px;
  height: 560px;
  left: 50%;
  top: 50%;
  margin-left: -480px;
  margin-top: -280px;
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.15);
}

.modal__map--show {
  display: block;
}

.modal__contact {
  position: fixed;
  display: none;
  width: 958px;
  padding: 90px 100px 58px 100px;
  left: 50%;
  top: 50%;
  margin-left: -480px;
  margin-top: -275px;
  background-color: var(--basic-white);
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.15);
}

.modal__contact--show {
  display: block;
}

.contact-form__email input:focus,
.contact-form__name input:focus,
.contact-form__inform textarea:focus {
  border: 2px solid var(--additional-yellow);
}

.contact-form__email input:hover,
.contact-form__name input:hover,
.contact-form__inform textarea:hover {
  background: var(--special-from-color);
}

/*TODO Почему значиние invalid - стоит по умолчанию. имею ввиду, что красится при открытии всегда в красный цвет. как исправить???*/
.contact-form__email input:invalid,
.contact-form__name input:invalid,
.contact-form__inform textarea:invalid {
  background: var(--status-pink);
}

.modal-map__cross,
.modal-contact__cross {
  position: absolute;
  width: 55px;
  height: 55px;
  background: var(--additional-yellow);
  opacity: 0.5;
  border: 0;
  border-radius: 29px;
  outline: none;
}

.modal-map__cross {
  top: 18px;
  right: 18px;
}

.modal-contact__cross {
  top: 18px;
  right: 18px;
}

.modal-map__cross:hover,
.modal-contact__cross:hover {
  opacity: 1;
}

.modal-map__cross:active,
.modal-contact__cross:active {
  opacity: 0.3;
}

.modal-contact__cross::before,
.modal-contact__cross::after {
  position: absolute;
  top: 11px;
  right: 26px;
  content: " ";
  height: 33px;
  width: 2px;
  background-color: var(--basic-white);
}

.modal-map__cross:before,
.modal-map__cross:after {
  position: absolute;
  top: 11px;
  right: 26px;
  content: " ";
  height: 33px;
  width: 2px;
  background-color: var(--basic-white);
}
.modal-map__cross:before,
.modal-contact__cross::before {
  transform: rotate(45deg);
}
.modal-map__cross:after,
.modal-contact__cross::after {
  transform: rotate(-45deg);
}
